@import "tailwindcss";

@theme {
  /* primary */
  --color-primary: #0f172a;
  --color-primary-foreground: #ffffff;

  /* secondary */
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #0f172a;

  /* destructive */
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  /* ghost hover용 */
  --color-muted: #f1f5f9;

  /* outline border용 */
  --color-border: #e2e8f0;
}
